Repository openstack/networking-midonet: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Path conditions:
  networking-midonet-tempest-aio-v2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-v2-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-multinode-ml2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-full-legacy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-grenade-ml2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-grenade-v2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-rally-ml2: unless all of: ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^specs/.*$
  networking-midonet-rally-v2: unless all of: ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^specs/.*$

Remove a few extensions from NETWORK_API_EXTENSIONS
  .zuul.yaml
  devstack/settings
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update .zuul.yaml
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove a few extensions from NETWORK_API_EXTENSIONS
  .zuul.yaml
  devstack/ci/hooks/tempest_plugins_advsvc
  devstack/settings
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update .gitreview for stable/rocky
  .gitreview
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

add local tox targets for pep8 and py3
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Skip test_router_add_gateway_notifications
  midonet/neutron/tests/unit/test_midonet_plugin_ml2.py
Due: none

opt in for neutron-lib consumption patches
  requirements.txt
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

import zuul job settings from project-config
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Fix sphinx-docs job
  .zuul.yaml
  midonet/neutron/db/l3_db_midonet.py
  tools/tox_install.sh
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

fix tox python3 overrides
  .pylintrc
  midonet/neutron/client/api.py
  midonet/neutron/common/exceptions.py
  midonet/neutron/db/data_state_db.py
  midonet/neutron/db/l3_db_midonet.py
  midonet/neutron/db/migration/alembic_migration/env.py
  midonet/neutron/extensions/gateway_device.py
  midonet/neutron/services/bgp/plugin.py
  midonet/neutron/services/l2gateway/common/l2gw_midonet_validators.py
  midonet/neutron/services/loadbalancer/v2_driver.py
  midonet/neutron/tests/tempest/tests/scenario/test_bgp.py
  test-requirements.txt
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Don't quote {posargs} in tox.ini
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove extra publish-openstack-python-branch-tarball job
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove openstack-tox-py35-with-neutron-lib-master
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use retry_if_session_inactive from neutron-lib
  midonet/neutron/services/l3/l3_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove a few extensions from NETWORK_API_EXTENSIONS
  devstack/settings
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use context manager from neutron-lib
  midonet/neutron/db/bgp_speaker_router_insertion_db.py
  midonet/neutron/services/bgp/plugin.py
  midonet/neutron/services/l3/l3_midonet.py
  midonet/neutron/tests/unit/test_datastate.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update min tox version to 2.0
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Replace usage of get_legacy_facade() with get_engine()
  midonet/neutron/tests/unit/test_datastate.py
Due: none

use neutron-lib for _model_query
  midonet/neutron/db/bgp_speaker_router_insertion_db.py
  midonet/neutron/db/gateway_device.py
  midonet/neutron/db/logging_resource_db.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Skip test__notify_gateway_port_ip_changed
  midonet/neutron/tests/unit/test_midonet_plugin_ml2.py
Due: none

Change openstack-dev to openstack-discuss
  setup.cfg
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

use payloads for ROUTER_INTERFACE BEFORE_DELETE events
  midonet/neutron/services/l3/l3_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use neutron-lib for resource_extend
  midonet/neutron/db/l3_db_midonet.py
  midonet/neutron/db/port_binding_db.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use neutron-lib for common exception
  midonet/neutron/common/utils.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Rename test-requirements to avoid being picked by devstack
  doc/requirements.txt
  tools/install_venv.py
  tox-test-requirements.txt
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Pin astroid versions
  doc/requirements.txt
Due: none

stop using common db mixin methods
  midonet/neutron/db/gateway_device.py
  midonet/neutron/services/l3/l3_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update type drivers for network segment range
  .zuul.yaml
  midonet/neutron/ml2/type_midonet.py
  midonet/neutron/ml2/type_uplink.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Add DNSDbMixin to MidonetL3ServicePlugin to fix DNS support
  midonet/neutron/services/l3/l3_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Migrate legacy jobs to Ubuntu Bionic
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update .gitreview for stable/stein
  .gitreview
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update master for stable/stein
  releasenotes/source/index.rst
  releasenotes/source/stein.rst
Due: none

Replace openstack.org git:// URLs with https://
  devstack/ci/gate_hook.sh
  playbooks/grenade-ml2/run.yaml
  playbooks/grenade-v2/run.yaml
  playbooks/rally-ml2/run.yaml
  playbooks/rally-v2/run.yaml
  playbooks/tempest-aio-ml2-centos-7/run.yaml
  playbooks/tempest-aio-ml2-full-centos-7/run.yaml
  playbooks/tempest-aio-ml2-full-legacy/run.yaml
  playbooks/tempest-aio-ml2-full/run.yaml
  playbooks/tempest-aio-ml2/run.yaml
  playbooks/tempest-aio-v2-full/run.yaml
  playbooks/tempest-aio-v2/run.yaml
  playbooks/tempest-multinode-ml2/run.yaml
  tools/tox_install_project.sh
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2
