Repository openstack/networking-midonet: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

networking-midonet-tempest-aio-v2:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-v2/run.yaml
  post-run: playbooks/tempest-aio-v2/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  - openstack/neutron-dynamic-routing
  ...

networking-midonet-tempest-aio-v2-full:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-v2-full/run.yaml
  post-run: playbooks/tempest-aio-v2-full/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  - openstack/neutron-dynamic-routing
  ...

networking-midonet-tempest-aio-ml2:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-ml2/run.yaml
  post-run: playbooks/tempest-aio-ml2/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  - openstack/neutron-dynamic-routing
  ...

networking-midonet-tempest-multinode-ml2:
  parent: legacy-dsvm-base-multinode
  run: playbooks/tempest-multinode-ml2/run.yaml
  post-run: playbooks/tempest-multinode-ml2/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  - openstack/neutron-dynamic-routing
  ...

networking-midonet-tempest-aio-ml2-full:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-ml2-full/run.yaml
  post-run: playbooks/tempest-aio-ml2-full/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  - openstack/neutron-dynamic-routing
  ...

networking-midonet-tempest-aio-ml2-full-legacy:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-ml2-full-legacy/run.yaml
  post-run: playbooks/tempest-aio-ml2-full-legacy/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  - openstack/neutron-dynamic-routing
  ...

networking-midonet-tempest-aio-ml2-centos-7:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-ml2-centos-7/run.yaml
  post-run: playbooks/tempest-aio-ml2-centos-7/post.yaml
  timeout: 7800
  nodeset: legacy-centos-7
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  ...

networking-midonet-tempest-aio-ml2-full-centos-7:
  parent: legacy-dsvm-base
  run: playbooks/tempest-aio-ml2-full-centos-7/run.yaml
  post-run: playbooks/tempest-aio-ml2-full-centos-7/post.yaml
  timeout: 7800
  nodeset: legacy-centos-7
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-l2gw
  - openstack/networking-midonet
  ...

Zuul: Remove project name
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update .gitreview for stable/queens
  .gitreview
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Update links in README
  README.rst
Due: none

Updated from global requirements
  test-requirements.txt
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

use multiprovidernet api definition from neutron-lib
  midonet/neutron/services/l3/l3_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

fix a spelling error
  midonet/neutron/tests/unit/test_extension_l2gateway.py
  midonet/neutron/tests/unit/test_extension_vpnaas.py
Due: none

use plugin common utils from neutron-lib
  midonet/neutron/db/l3_db_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Enable hacking-extensions H204, H205
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Fix docutils ImportError on the multinode job
  test-requirements.txt
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove mox/mox3 usage
  midonet/neutron/tests/unit/neutronclient_ext/test_cli20.py
  requirements.txt
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Avoid tox_install
  devstack/ci/hooks/tempest_plugins_base
  requirements.txt
  test-requirements.txt
  tools/tox_install.sh
  tools/tox_install_project.sh
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Use get_marker_obj from neutron-lib
  midonet/neutron/db/gateway_device.py
  midonet/neutron/db/logging_resource_db.py
  requirements.txt
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use neutron-lib plugin utils
  midonet/neutron/db/l3_db_midonet.py
  requirements.txt
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

load neutron objects using neutron-lib
  midonet/neutron/db/l3_db_midonet.py
  midonet/neutron/db/v2_migration.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Switch to using stestr
  test-requirements.txt
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use get reader/writer session from neutron-lib
  midonet/neutron/client/cluster.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove v2 -> ml2 migration code
  midonet/neutron/db/v2_migration.py
  midonet/neutron/ml2/mech_driver.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Add a mock to avoid doc build failure on OS X
  doc/source/conf.py
Due: none

Port rally plugins to use proper modules
  midonet/neutron/db/l3_db_midonet.py
  midonet/os_vif/vif_midonet.py
  rally-jobs/plugins/network_plugin.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

use callback payloads for ROUTER/ROUTER_GATEWAY BEFORE_DELETE events
  midonet/neutron/db/bgp_speaker_router_insertion_db.py
  midonet/neutron/db/gateway_device.py
  midonet/neutron/db/l3_db_midonet.py
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Comment out autodoc stuff
  doc/source/conf.py
  doc/source/contributor/api/index.rst
  doc/source/contributor/index.rst
  setup.cfg
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

Fix sphinx-docs job
  midonet/neutron/db/l3_db_midonet.py
  midonet/os_vif/vif_midonet.py
  rally-jobs/plugins/network_plugin.py
  tools/tox_install.sh
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

tox_install_project.sh: Update for queens
  tools/tox_install_project.sh
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

tox.ini: Sync cover job with Neutron
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Remove testrepository and .testr.conf
  .gitignore
  .testr.conf
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Make multinode-ml2 job voting
  .zuul.yaml
  playbooks/tempest-aio-ml2/post.yaml
  playbooks/tempest-aio-ml2/run.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Updating required neutron version
  requirements.txt
  test-requirements.txt
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

update requirements for neutron-lib 1.18.0
  requirements.txt
Due: networking-midonet-rally-ml2, networking-midonet-rally-v2

Fix sphinx-docs job
  .zuul.yaml
  midonet/neutron/db/l3_db_midonet.py
  midonet/os_vif/vif_midonet.py
  tools/tox_install.sh
  tox.ini
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

Remove a few extensions from NETWORK_API_EXTENSIONS
  .zuul.yaml
  devstack/settings
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Make ml2-full job multinode
  .zuul.yaml
  playbooks/tempest-multinode-ml2-full/post.yaml
  playbooks/tempest-multinode-ml2-full/run.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

import zuul job settings from project-config
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

switch documentation job to new PTI
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

add python 3.6 unit test job
  .zuul.yaml
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Imported Translations from Zanata
  midonet/locale/en_GB/LC_MESSAGES/midonet.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: networking-midonet-tempest-aio-v2, networking-midonet-tempest-aio-v2-full, networking-midonet-tempest-aio-ml2, networking-midonet-tempest-multinode-ml2, networking-midonet-tempest-aio-ml2-full, networking-midonet-tempest-aio-ml2-full-legacy, networking-midonet-tempest-aio-ml2-centos-7, networking-midonet-tempest-aio-ml2-full-centos-7, networking-midonet-grenade-ml2, networking-midonet-grenade-v2, networking-midonet-rally-ml2, networking-midonet-rally-v2

Path conditions:
  networking-midonet-tempest-aio-v2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-v2-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-multinode-ml2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-full-legacy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-tempest-aio-ml2-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-grenade-ml2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-grenade-v2: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^setup.cfg$, ^specs/.*$
  networking-midonet-rally-ml2: unless all of: ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^specs/.*$
  networking-midonet-rally-v2: unless all of: ^.*\.rst$, ^doc/.*$, ^midonet/neutron/tests/unit/.*$, ^specs/.*$
